.networks_container {
    .title {
        display: flex;
        flex-direction: row;
        justify-content: left;

        div {
            margin: 1rem;
            text-align: center;
            width: 8vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
