$wb-primary: #f5f5f5;
$wb-text: #333333;
$wb-yellow: #fbbc05;
$wb-white: #ffffff;
$youai-light-red: #ea4335;
$wb-input-bg: #f9f9f9;
$wb-input-text: #333333;
$wb-focus-bg: #e8e8e8;
$wb-focus-text: #555555;
$wb-focus-border: #939393;
$wb-hover-bg: #9b59b6;
$wb-hover-text: #ffffff;
$wb-hover-border: #2ecc71;
$wb-active-bg: #102034;
$wb-active-border: #328b1b;
