// Define color variables based on Tailwind CSS colors
$wb-primary: #f5f5f5; // Tailwind gray-100
$wb-text: #333333; // Tailwind gray-800
$wb-yellow: #fbbc05; // Tailwind yellow-400
$wb-white: #ffffff; // Tailwind white
$youai-light-red: #ea4335; // Tailwind red-500
$wb-input-bg: #f9f9f9; // Tailwind gray-100
$wb-input-text: #333333; // Tailwind gray-800
$wb-focus-bg: #e8e8e8; // Tailwind gray-200
$wb-focus-text: #555555; // Tailwind gray-600
$wb-focus-border: #939393; // Tailwind gray-400
$wb-hover-bg: #9b59b6; // Tailwind purple-500
$wb-hover-text: #ffffff; // Tailwind white
$wb-hover-border: #2ecc71; // Tailwind green-400
$wb-active-bg: #102034; // Tailwind blue-900
$wb-active-border: #328b1b; // Tailwind green-700
